.Header {
    position: fixed;
    width: 100%;
}

.header_container {
    position: relative;
    color: black;
    height: 10rem;
    padding: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left, .right {
    display: flex;
}

.middle {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header_item {
    padding: 2rem;
}

.item-big {
    font-size: 3rem;
    padding-bottom: 1rem;
}
.item-small {
    font-size: 1rem;
    text-transform: uppercase;
}