.Page1 {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 20rem;
}

.page1_main {
    margin-top: 10rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back {
    position: absolute;
    top: 40%;
    left: 12rem;
    transform: translate(-50%, -50%);
}

.archive{
    font-family: 'Prata', serif;
    font-size: 12rem;
}

.page1_footer{
    width: 100%;
    align-self: flex-end;
    position: relative;
}

.arrow {
    font-family: 'Manrope', sans-serif;
    font-size: 14rem;
    margin-left: 6rem;
}

.alpha {
    font-family: 'Barlow Semi Condensed', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14rem;
}

.alpha_text {
    position: absolute;
    top: 40%;
    left: 65%;
    transform: translate(-50%, -50%);
    line-height: 2rem;
}

@media only screen and (max-width: 1024px){ 
    .archive {
        font-size: 8rem;
    }

    .back {
        left: 8rem;
    }

    .arrow {
        font-size: 10rem;
        margin-left: 1rem;
    }
    
    .alpha {
        font-size: 10rem;
    }
    
}

@media only screen and (max-width: 768px){ 
    .archive {
        font-size: 5rem;
    }

    .back {
        left: 6rem;
    }

    .arrow {
        font-size: 8rem;
    }
    
    .alpha {
        font-size: 8rem;
    }
    
    .alpha_text {
        left: 75%;
    }
}